.vs/

*.user

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Oo]bj/

Umbraco.Docs.Samples.Web/umbraco/Data/TEMP/*
Umbraco.Docs.Samples.Web/umbraco/Logs/*
Umbraco.Docs.Samples.Web/umbraco/mediacache/*
Umbraco.Docs.Samples.Web/wwwroot/umbraco/
